/* Smartphone */ 

@media screen and (min-width: 0px) and (max-width: 768px) {
	section.content{
		width:100%; 
        .bg-img{ 
                background-image: url('img/page_contact.jpeg'); 
                background-repeat: no-repeat;
                background-size:cover; 
                width:100%; 
                height:200px;
            form.desktop{ 
                display:none;
                }
            }
            form{ 
              
                text-align:center;
                margin-top:20px;
                
                h2{ 
                    font-weight:400;
                    margin-bottom:20px;
                }
                
                input{ 
                    margin-bottom:10px;
                    outline:none;
                      border-radius:5px;
                            -webkit-border-radius:5px;
                            -moz-border-radius:5px;
                            -o-border-radius:5px;
                }
                textarea{ 
                    outline:none;
                       border-radius:5px;
                            -webkit-border-radius:5px;
                            -moz-border-radius:5px;
                            -o-border-radius:5px;
                }
            }
        
	}
    section.team{ 
        display:none;
         }
    }
   

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .content{
        width:100%; 
        
            .bg-img{ 
                background-image: url('img/page_contact.jpeg'); 
                background-repeat: no-repeat;
                background-size:cover; 
                width:100%; 
                height:600px;
                
                form.desktop{ 
                        text-align:center;
                        top:30%;
                        left:35%;
                        width:300px;
                        // position:absolute;

                        h2{ 
                            font-weight:400;
                            margin-bottom:20px;
                        }

                        input{ 
                            margin-bottom:10px;
                            outline:none;
                            width:250px;
                            border-radius:5px;
                            -webkit-border-radius:5px;
                            -moz-border-radius:5px;
                            -o-border-radius:5px;
                        }
                        textarea{ 
                            outline:none;
                            width:250px;
                               border-radius:5px;
                            -webkit-border-radius:5px;
                            -moz-border-radius:5px;
                            -o-border-radius:5px;
                            }
                    }
             }
               
         form.mobile{     
                    display:none;}
                
  }

    .team{ 
         ul{
            list-style: none;
            width:100%;
            height:auto;
            text-align:center;
            margin-left:10%;
            
            li {
                float: left;
                img{ 
                    display:block;
                    width:100px;
                    height:100px;
                    margin:15px;
                }
                 span{ 
                    color:$red;
                    width:10px;
                }
                
            }
        }
       
    }
}

/* Desktop */  

@media screen and (min-width: 992px) and (max-width: 1900px) {
       .content{
        width:100%; 
        
            .bg-img{ 
                background-image: url('img/page_contact.jpeg'); 
                background-repeat: no-repeat;
                background-size:cover; 
                width:100%; 
                height:650px;
                
                form.desktop{ 
                        text-align:center;
                        top:60%;
                        left:35%;
                        width:300px;
                        position:absolute;

                        h2{ 
                            font-weight:400;
                            margin-bottom:20px;
                            text-align:center;
                            margin-left:90px;
                        }

                        input{ 
                            margin-bottom:10px;
                            outline:none;
                            width:400px;
                            height:50px;
                            border-radius:5px;
                            -webkit-border-radius:5px;
                            -moz-border-radius:5px;
                            -o-border-radius:5px;

                            .button{ 
                                cursor:pointer; 
                                background:$red; 
                                border:none;
                            }
                        }
                        textarea{ 
                            outline:none;
                            width:400px;
                            height:80px;
                               border-radius:5px;
                            -webkit-border-radius:5px;
                            -moz-border-radius:5px;
                            -o-border-radius:5px;
                            }
                        
                    }
             }
               
         form.mobile{     
                    display:none;
           }
                
  }
         .team{ 
             ul{
                list-style: none;
                width:100%;
                height:auto;
                text-align:center;
                margin-left:3%;

                li {
                    float: left;
                    img{ 
                        display:block;
                        width:200px;
                        height:200px;
                        margin:15px;
                    }
                     span{ 
                        color:$red;
                        width:10px;
                        font-size:20px;
                    }

                }
            }
       
    }

}
   

